@import "starter";
@import "mixins";

/* GLOBAL STYLE */

/* ----------------------------------- */
/* BASIC STYLE */
.btn {
  @include btn($crvena, transparent, $bela, $tamnoSiva, transparent, $bela);
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
  display: inline-block;
}
h6 {
  font-family: $textFont;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: $crvena;
}
.container {
  &-big {
    margin: 0 auto;
    width: 95%;
    @media (max-width: 767px) {
      width: 90%;
    }
  }
  &-mid {
    margin: 0 auto;
    width: 90%;
  }
}
.underline {
  border: none;
  background-color: $crvena;
  height: 3px;
  width: 100px;
  margin-top: 10px;
}
/* ----------------------------------- */
/* header */
header {
  background-image: linear-gradient(rgba($crna, 0.4), rgba($crna, 0.4)),
    url(../img/header.jpg);
  @include bgBasic;
  @include flex(center, center, column);
  height: 100vh;
  nav {
    background: linear-gradient(rgba($tamnoSiva, 0.2), rgba($tamnoSiva, 0.2)),
      $bela;
    @include flex;
    width: 90%;
    position: fixed;
    top: 30px;
    padding: 10px 30px;
    transition: $transition;
    .logo {
      font-size: 2rem;
      line-height: 1;
      font-weight: 700;
      font-family: "Gugi", sans-serif;
      display: block;
      text-align: center;
      color: $tamnoSiva;
      letter-spacing: 2px;
      span {
        font-size: 0.6ch;
        display: block;
      }
      &::first-letter {
        color: $crvena;
      }
      &:hover {
        color: $crvena;
      }
    }
    #menuBtn {
      display: none;
      font-size: 1.3em;
      width: 2em;
      height: 2em;
      cursor: pointer;
      @media (max-width: 767px) {
        display: block;
      }
    }
    ul {
      @include flex(flex-end, center);
      text-transform: uppercase;
      flex-grow: 1;
      @media (max-width: 767px) {
        @include flex($x: center, $y: flex-start, $dir: column);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 5%;
        transition: $transition;
        background: linear-gradient(
            rgba($tamnoSiva, 0.2),
            rgba($tamnoSiva, 0.2)
          ),
          $bela;
        transform: scaleY(0);
        transform-origin: top;
      }
      li {
        margin-left: 3%;
        font-weight: 600;
        font-size: 1.2rem;
        color: $tamnoSiva;
        @media (max-width: 767px) {
          line-height: 2em;
        }
        &:hover {
          color: $crvena;
        }
      }
      &.showMenu {
        transform: scaleY(1);
      }
    }
  }
  article {
    color: $bela;
    text-align: center;
    width: 90%;
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1.4rem;
      padding: 1.5em 0;
      @media (max-width: 767px) {
        font-size: 1.2rem;
        text-shadow: 0 0 2px $crna;
      }
    }
  }
}

/* about */
.about {
  @include flex($x: flex-start);
  article {
    flex: 0 0 50%;
    height: 50vh;
    margin: 0 auto 0 0;
    @media (max-width: 767px) {
      flex: 0 0 100%;
    }
    &:first-child {
      @include flex(flex-start, center, column);
      padding: 0 50px;
      @media (max-width: 767px) {
        height: auto;
        padding: 50px;
      }
    }
    &:last-child {
      background-image: url(../img/one.jpg);
      @include bgBasic();
    }
    h2 {
      margin: 30px 0;
    }
    .btn {
      margin-top: 30px;
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

/* services */
.services {
  background-color: rgba($tamnoSiva, 0.05);
  text-align: center;
  hr {
    margin: 40px auto;
  }
  hgroup,
  article {
    width: 95%;
    @media (max-width: 767px) {
      width: 90%;
      margin: 0 auto;
    }
  }
  article {
    @include flex;
    text-align: left;
    margin: 50px auto 0;
    div {
      flex: 0 0 30%;
      @media (max-width: 767px) {
        flex: 0 0 100%;
        margin-bottom: 20px;
      }
    }
    i,
    a {
      color: $crvena;
    }
    a {
      text-decoration: underline;
      margin-top: 20px;
      display: inline-block;
    }
  }
}

/* creative */
.creative {
  padding: 150px 0;
  text-align: right;
  @media (max-width: 767px) {
    text-align: center;
  }
  h6 {
    margin-bottom: 200px;
    @media (max-width: 767px) {
      margin-bottom: 100px;
    }
  }
}

/* team */
.team {
  text-align: center;
  h2 {
    font-size: 2.8rem;
    padding-bottom: 50px;
  }
  article {
    @include flex($x: flex-end);
    height: 45vh;
    @media (max-width: 767px) {
      height: auto;
    }
    &:nth-child(even) {
      .wrapper {
        order: -1;
        align-items: flex-end;
        text-align: right;
        @media (max-width: 767px) {
          order: 0;
        }
      }
    }
    .wrapper {
      @include flex($x: flex-start, $y: center, $dir: column);
      flex: 0 0 50%;
      background-color: rgba($tamnoSiva, 0.05);
      padding: 0 50px;
      text-align: left;
      @media (max-width: 767px) {
        flex: 0 0 100%;
      }
      h3 {
        color: $crvena;
        font-size: 2rem;
      }
      h4 {
        font-size: 1.3rem;
        margin-bottom: 30px;
      }
      ul {
        width: 80%;
        margin-top: 30px;
        @include flex($x: space-between);
        @media (max-width: 767px) {
          width: 100%;
        }
        li {
          color: $crvena;
          display: inline-block;
          font-size: 1.8rem;
        }
      }
    }
    img {
      flex: 0 0 50%;
      height: 100%;
      object-fit: cover;
      @media (max-width: 767px) {
        flex: 0 0 100%;
      }
    }
  }
}

/* works */
.works {
  hgroup {
    text-align: center;
    background-color: $crvena;
    color: $bela;
    &:first-child {
      padding: 60px 0;
    }
    &:last-child {
      padding: 30px 0;
    }
    h6 {
      color: $bela;
    }
    h2 {
      font-size: 3rem;
    }
    h5 {
      font-size: 1.3rem;
    }
  }
  article {
    height: 100vh;
    @include flex;
    .half {
      @include flex;
      flex: 0 0 50%;
      height: 100%;
      @media (max-width: 767px) {
        height: 50%;
        flex: 0 0 100%;
      }
      div {
        flex: 0 0 50%;
        height: 50%;
      }
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

/* blog */
.blog {
  @include flex;
  padding-left: 10px;
  padding-right: 10px;
  article {
    flex: 0 0 24%;
    text-align: center;
    @media (max-width: 767px) {
      flex: 0 0 100%;
    }
    h2 {
      font-size: 3.5rem;
      color: $crvena;
    }
    h4 {
      font-size: 1rem;
      text-transform: uppercase;
      padding: 30px 0 20px;
    }
  }
}

/* price */
.price {
  hgroup {
    text-align: center;
    h6 {
      color: $crna;
    }
    h2 {
      font-size: 3rem;
    }
  }
  article {
    @include flex;
    margin-top: 50px;
    div {
      flex: 1;
      padding: 50px;
      @media (max-width: 767px) {
        flex: 0 0 100%;
      }
      &.action {
        box-shadow: $boxShadow;
      }
      h5 {
        font-size: 1.3rem;
      }
      h2 {
        font-size: 2rem;
        &::after {
          content: "/year";
          display: inline-block;
          color: $crvena;
          font-size: 0.7em;
          font-family: $textFont;
          top: -0.5em;
          margin-left: 10px;
          position: relative;
          z-index: -1;
        }
      }
      ul {
        margin-top: 50px;
        li {
          line-height: 2;
          &::before {
            content: "\f14a";
            font-weight: 400;
            font-family: "Font Awesome 5 Free";
            margin-right: 5px;
            color: $crvena;
          }
        }
      }
    }
  }
}
/* GLOBAL */
/* GLOBAL */
/* GLOBAL */
/* GLOBAL */
